<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>비밀번호 수정</title>
    <style>
        .error {
            color: red;
            font-size: 0.9em;
        }

        .success {
            color: green;
            font-size: 0.9em;
        }
    </style>
</head>

<body>
    <h1>비밀번호 수정</h1>

    <label>현재 비밀번호: <input type="password" name="password" id="password" required></label> <br>
    <span id="pwdMsg"></span>
    <button type="button" onclick="GoToeditPassword()">확인</button> <br>

    <script>
        function GoToeditPassword(){
            const pw = document.getElementById('password');
            const msg = document.getElementById('pwdMsg');
            if (pw == user){
                window.location.href = "/mypage/edit-pwd/new-pwd";
            }else{
                msg.className = error;
                msg.textContent = '비밇번호가 일치하지 않습니다.'
            }
        }
        
    </script>
</body>

</html>