<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>비밀번호 수정</title>
</head>

<body>
    <h1>비밀번호 수정</h1>

    <form>
        <label>현재 비밀번호: <input type="password" name="password" id="password" required></label> <br>
        <button type="button" onclick="GoToeditPassword()">확인</button> <br>
    </form>
    <script type=text/javascript>
        const user_pwd = "{{ user.password }}";
        function GoToeditPassword(){
            console.log("user_pwd: " + user_pwd);
            const pw = document.getElementById('password').value.trim();
            if (pw == user_pwd){
                console.log("비밀번호가 일치합니다.");
                window.location.href = "/mypage/edit-pwd/new-pwd";
            }else{
                alert("비밀번호가 일치하지 않습니다.");
            }
        }
        
    </script>
</body>

</html>