<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>홈이셔</title>
</head>
<body>
    <h1>홈화면이용</h1>
    <a href="/menu"><button type="button">메뉴</button></a> 
    <a href="/map"><button type="button">제휴맵</button></a> 
    <a href="/condition"><button type="button">상세조건</button></a>
    <a href="/bookmark"><button type="button">북마크</button></a>
    <a href="/mypage"><button type="button">마이페이지</button></a>
    <a href="/recent"><button type="button">최근 본</button></a>  
</body>
</html>