<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>메뉴</title>
</head>

<body>
    <h1>메뉴</h1>
    <br><br><br><br><br>
    <label>* 편집자 전용 *</label> <br>
    <button id="add" onclick="checkAndGo('add')">혜택 정보 추가하기</button><br>
    <button id="edit" onclick="checkAndGo('edit')">혜택 정보 수정하기</button><br>
    <script>
        function checkAndGo(action) {
            fetch('/fetch/editor-info')
                .then(res => res.json())
                .then(data => {
                    if (data.error) {
                        alert("접근 권한이 없습니다. 관리자 또는 승인된 편집자만 이용할 수 있습니다.");
                    } else {
                        if (action === 'add') {
                            window.location.href = "/benefit/add";
                        } else if (action === 'edit') {
                            window.location.href = "/benefit/edit";
                        }
                    }
                })
                .catch(() => {
                    alert("서버 오류. 다시 시도해 주세요.");
                });
        }   
    </script>
</body>

</html>