<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>회원가입 성공</title>
    <style>

    </style>
</head>

<body>
    <h2>어서오삼 :3</h2>
    <form method="POST" action="/signup-profile" onsubmit=return>
        <label>닉네임: <input type="text" name="nickname" id="nickname" required></label>
        <button type="button" onclick="checkDuplicateNickName()">중복확인</button>
        <br><span id="nicknameMessage" class="error"></span><br>

        <label>대학교:
            <select name="univ" id="univ" onchange="updateCollegeOptions()" required>
                <option value="">대학교 선택</option>
            </select>
        </label><br>
        <label>단과대학:
            <select name="college" id="college" onchange="updateMajorOptions()" required>
                <option value="">단과대학 선택</option>
            </select>
        </label><br>
        <label>학과:
            <select name="major" id="major" required>
                <option value="">학과 선택</option>
            </select>
        </label><br><br>
        <button type="submit">시작하기</button> <br>
        <br><br><br>
    </form>

    <script src="{{ url_for('static', filename='js/school_select.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // 대학교 목록 불러오기
            loadUnivList("univ");
        });
        function updateCollegeOptions() {
            updateCollegeOptions("univ", "college");
        }

        function updateMajorOptions() {
            updateMajorOptions("univ", "college", "major");
        }

        let nicknameCheckPassed = false;

        function checkDuplicateNickName() {
            const nickname = document.getElementById('nickname').value;
            if (!nickname) {
                document.getElementById('nicknameMessage').textContent = "닉네임을 입력하세요";
                return;
            }

            fetch(`/check-nickname?nickname=${encodeURIComponent(nickname)}`)
                .then(res => res.json())
                .then(data => {
                    const msg = document.getElementById('nicknameMessage');
                    if (data.exists) {
                        msg.textContent = "이미 존재하는 닉네임입니다";
                        msg.className = 'error';
                        nicknameCheckPassed = false;
                    } else {
                        msg.textContent = "사용 가능한 닉네임입니다";
                        msg.className = 'success';
                        nicknameCheckPassed = true;
                    }
                });
        }

    </script>
</body>

</html>